.testimonials{

    &-heading{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // @include media(laptop){
        //     text-align: center;

        // }
    }

    &-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @include media(desktop){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .testimonial{
            background-color: $whitish;
            padding: 1rem;
            min-height: 40rem;
            border-radius: 1rem;
            position: relative;
            @include media(desktop){
                max-width: 45%;
                padding: 3rem;
                min-height: 30rem;
            }
            .t-heading{
                display: flex;
                flex-direction: column;
                
                @include media(desktop){
                    padding-right: 20rem;
                }
            }
            .t-img{
                position: absolute;
                bottom: 0;
                right: 0;
                img{
                    mix-blend-mode: multiply;
                }
            }
        }
    }

}