// COlORS 


$blue: #4762FF;
$grey:  #333333;
$dark: #1A1A1A;
$off-white: #F4F4F4;
$white: #fff;
$whitish: #F4F6FA;


$blue-8: rgba($blue, 0.08);
$grey-10: rgba($grey , .1);
$grey-80: rgba($grey , .8);
$grey-70: rgba($grey , .7);